<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#wrapper {
background:#9c9;
padding:10px;
text-align: center;
}

#main {
display: inline-block;
}

#body {
/*float:right;*/
/*width:700px;*/
/*background:#c9c;*/
padding:10px;
text-align: center;
}
</style>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<body>
		<div id="wrapper" ng-app="myApp" ng-init="result='Click below to find out'" ng-controller="myCtrl">
		  <div id="main">
			<h2>What city will I be in after a given time? {{result}}</h2> 
		  </div>

		
		</div>

		<div id="body">
		  	Today Date: <input type="date" name="todayDate" ng-model="todayDate"> 
		  	Target Date: <input type="date" name="targetDate" ng-model="targetDate"> 
		</div>


		
		
		<script src="myApp.js"></script>
		<script src="myCtrl.js"></script>
		
	</body>
</html>